<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Tipo_Cambio_BCNSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="Tipo_Cambio_BCNSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://servicios.bcn.gob.ni/Tc_Servicio/ServicioTC.asmx"
                binding="basicHttpBinding" bindingConfiguration="Tipo_Cambio_BCNSoap"
                contract="ws_BCN.Tipo_Cambio_BCNSoap" name="Tipo_Cambio_BCNSoap" />
        </client>
    </system.serviceModel>
</configuration>